---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import React from "react";
import Button from "../components/Button.astro";

//Creo la funcion getStaticPaths() que se encarga de los atributos de los productos
export async function getStaticPaths() {
    //Creo un array de productos para poner sus atributos en el componente de manera dinamica
    const productos = [ 
        
        //HAMBURGUESAS
        {id:'1',title:"ORIGINALS",image:'assets/photos/hamburguesas/burger1.png',alt:'Hamburguesa Originals',
        precio:'11,90',descripcion1:'Originals, made in Astroburger',descripcion2:'Sumérgete en la autenticidad con nuestra hamburguesa "Originals". Creada con maestría en Astroburger, esta delicia presenta una experiencia gastronómica única. La Originals es una obra maestra de doble smash burger, donde cada bocado revela la jugosidad de la carne. La frescura de la lechuga francesa y el tomate pera se entrelaza con la cremosidad del cheddar, mientras que los pepinillos y la salsa VICIO aportan un toque inigualable. Todo esto se encuentra cuidadosamente envuelto en un suave bollo de pan brioche, elevando la experiencia de sabor a nuevas alturas.' 
        },
        {id:'2',title:"SUPREME",image:'assets/photos/hamburguesas/burger2.png',alt:'Hamburguesa Supreme',
        precio:'11,90',descripcion1:'Supreme, savor the Flavor',descripcion2:'Deleita tu paladar con nuestra hamburguesa "Supreme", una obra maestra que celebra el sabor auténtico y la textura crujiente. Esta creación única presenta pollo de corral crujiente, tempurizado con una doble capa de especias, marinado con Samjang y acompañado de pepinillos encurtidos caseros. La experiencia se completa con la nueva y deliciosa salsa Golden mayo, todo dentro de un irresistible bollo de pan brioche. Sumérgete en la sofisticación de sabores orientales y descubre el placer supremo de cada bocado.' 
        },
        {id:'3',title:"BACONCHEESE",image:'assets/photos/hamburguesas/burger3.png',alt:'Hamburguesa Baconcheese',
        precio:'12,90',descripcion1:'Bacon and Cheese, all you need',descripcion2:'La hamburguesa "Baconcheese" es una explosión de sabores que combina lo crujiente con lo cremoso para una experiencia única. Disfruta de nuestras míticas french fries de patata agria con bacon crunchy, cheddar fundido, pepinillo y la inigualable salsa Vicio. Cada componente se fusiona para crear una mezcla armoniosa que acaricia tus papilas gustativas. Todo esto es presentado en un bollo de pan brioche que eleva la experiencia a un nivel superior.' 
        },
        {id:'4',title:"VEGAN TRUFFLE",image:'assets/photos/hamburguesas/burger4.png',alt:'Hamburguesa Vegan Truffle',
        precio:'12,90',descripcion1:'For Vegans, to Las Vegas',descripcion2:'Experimenta la exquisitez vegana con nuestra hamburguesa "Vegan Truffle". Esta opción vegana gourmet presenta la revolucionaria Beyond burger, queso vegano derretido, aguacate aliñado y una veganesa de chipotle a base de leche de soja. Cada componente se une para ofrecer una explosión de sabores y texturas, mientras que el bollo de pan brioche vegano completa esta experiencia culinaria. Disfruta de la delicia sin carne con un toque de lujo trufado.'
        },
        {id:'5',title:"CHEESBURGER IBÉRICA",image:'assets/photos/hamburguesas/burger5.png',alt:'Hamburguesa Cheesbuger Ibérica',
        precio:'13,90',descripcion1:'Ibérica, like Spain',descripcion2:'Embárcate en un viaje culinario a España con nuestra hamburguesa "Cheesburger Ibérica". Esta creación única presenta una doble smash burger acompañada de la distinguida paleta de jamón ibérico. El cheddar fundido, la frescura de la lechuga francesa, el tomate pera, los pepinillos y la mayo de tomate seco se combinan a la perfección. Todo esto se coloca entre un suave bollo de pan brioche, ofreciéndote una experiencia que rinde homenaje a los sabores auténticos de España.' 
        },
        {id:'6',title:"VEGGIE DELIGHT",image:'assets/photos/hamburguesas/burger6.png',alt:'Hamburguesa Veggie Delight',
        precio:'12,99',descripcion1:'Veggie for Veggies',descripcion2:'Descubre una experiencia vegana inigualable con nuestra hamburguesa "Veggie Delight". Presentando la revolucionaria Beyond burger, queso vegano, cebolla soasada y una veganesa trufada negra a base de leche de soja, cada bocado es una celebración de sabores. El bollo de pan brioche vegano completa esta obra maestra, ofreciendo una opción vegana que no compromete la satisfacción ni la delicia.' 
        },
        {id:'7',title:"BACON BURGER",image:'assets/photos/hamburguesas/burger8.png',alt:'Hamburguesa Bacon Cheesburger',
        precio:'11,90',descripcion1:'All you need is Bacon',descripcion2:'Todo lo que necesitas es el sabor clásico y reconfortante de nuestra hamburguesa "Cheesburger". Con una doble smash burger, cheddar fundido, pepinillo y salsa Vicio, esta hamburguesa satisface los antojos más tradicionales. Presentada en un bollo de pan brioche, cada bocado es una mezcla armoniosa de sabores familiares que te transportan a la esencia pura de una deliciosa cheesburger.' 
        },
        {id:'8',title:"CHEESBURGER",image:'assets/photos/hamburguesas/burger9.png',alt:'Hamburguesa Cheesburger',
        precio:'12,99',descripcion1:'All you need is Cheese',descripcion2:'Doble smash burger, cheddar, pepinillo y salsa Vicio acompañado con un bollo de pan brioche.' 
        },
        {id:'9',title:"TRUFFLE",image:'assets/photos/hamburguesas/burger.png',alt:'Hamburguesa Truffle',
        precio:'13,90',descripcion1:'Truffle, indulge in Rich Delights ',descripcion2:'Beyond burger, queso vegano, aguacate aliñado, tomate pera y una veganesa de chipotle a base de leche de soja, acompañado con un bollo de pan brioche vegano.' 
        },

        //COMPLEMENTOS
        {id:'10',title:"FRIES",image:'assets/photos/complementos/patatas.png',alt:'Fries',
        precio:'3,90',descripcion1:'Fries, always in the table',descripcion2:'Míticas french fries a base de patata agria con nuestra sal especiada. Las míticas french fries, preparadas a base de patata agria, son un clásico que complementa cualquier comida' 
        },
        {id:'11',title:"BACON FRIES",image:'assets/photos/complementos/patatasbacon.png',alt:'Bacon Fries',
        precio:'5,90',descripcion1:'Bacon fries, fries but with delicious bacon',descripcion2:'Míticas french fries de patata agria con salsa ahumada de queso mimolette, crema agria, bacon crunchy y cebollino fresco. Disfruta de la combinación perfecta de sabores con bacon crujiente y cebollino fresco que añaden un toque extra de delicia.' 
        },
        {id:'12',title:"TRUFFLE FRIES",image:'assets/photos/complementos/patatastrufadas.png',alt:'Truffle fries',
        precio:'5,90',descripcion1:'Truffle fries, fries with truffle what else? ',descripcion2:'Míticas french fries de patata agria con salsa a base de trufa negra y espolvoreado con parmesano. Espolvoreadas con parmesano, estas fries ofrecen una mezcla única de sabores intensos y texturas deliciosas.' 
        },
        {id:'13',title:"ALITAS DE POLLO",image:'assets/photos/complementos/alitas.png',alt:'Chicken Wings',
        precio:'8,90',descripcion1:'Chicken Wings, simple and delicious ',descripcion2:'Alitas de pollo amarillo marinadas con garam masala cocinadas a baja temperatura, napadas con nuestra salsa BBQ casera y espolvoreadas con un crunch de kikos y cebollino fresco. Un toque especial con un crunch de kikos y cebollino fresco que resalta la textura y el sabor. Perfectas para aquellos que buscan algo más que unas simples alitas de pollo.' 
        },

        //SHAKES
        {id:'14',title:"CHOCOSHAKE",image:'assets/photos/shakes/choco.png',alt:'Choco Shake',
        precio:'5,90',descripcion1:'Chocoshake, Choco and Milk, all you need',descripcion2:'Batido elaborado a base de leche con sirope de chocolate con avellanas que se solidifica y gana en textura espesa, fría y refrescante al entrar en contacto con el helado. El Choco Shake se elabora con leche y sirope de chocolate con avellanas, lo que le confiere una textura espesa y refrescante al entrar en contacto con el helado.' 
        },
        {id:'15',title:"MILKSHAKE",image:'assets/photos/shakes/leche.png',alt:'Milk Shake',
        precio:'5,90',descripcion1:'Milkshake with cookies',descripcion2:'Batido elaborado a base de leche y helado con textura espesa y deliciosos crujientes de Galleta María. Ideal para aquellos que disfrutan de la combinación clásica de leche batida y galletas.' 
        },
        {id:'16',title:"CARAMELSHAKE",image:'assets/photos/shakes/lotus.png',alt:'Lotus Shake',
        precio:'5,90',descripcion1:'Milkshake but with Lotus',descripcion2:'Batido elaborado a base de leche con sirope de caramelo y galleta Lotus que coge textura al entrar en contacto con el helado. El Lotus Shake presenta una mezcla armoniosa de leche con sirope de caramelo y galleta Lotus, creando un sabor decadente y reconfortante.' 
        },
        {id:'17',title:"OREOSHAKE",image:'assets/photos/shakes/oreo.png',alt:'Oreo Shake',
        precio:'5,90',descripcion1:'Milkshake with oreos ',descripcion2:'Batido elaborado a base de leche y helado con lluvia crujiente de galletas Oreo.  El Oreo Shake está repleto de galletas Oreo que aportan una lluvia crujiente a cada sorbo, añadiendo un toque divertido y delicioso.' 
        },

        //POSTRES
        {id:'18',title:"NUTELLA CHEESCAKE",image:'assets/photos/postres/tartaquesonutella.png',alt:'Nutella Cheescake',
        precio:'6,50',descripcion1:'Nutella Cheescake, must try it',descripcion2:'Disfruta de nuestra exquisita creación, la "Nutella Cheesecake". Una irresistible combinación de suavidad y sabor que te invitará a experimentar un deleite único. Cada bocado de esta cheesecake se deshace en tu boca, ofreciendo una experiencia suave y deliciosamente cremosa.' 
        },
        {id:'19',title:"OREO TIRAMISU",image:'assets/photos/postres/tiramisu.png',alt:'Oreo Tiramisu',
        precio:'6,50',descripcion1:'Tiramisu with oreos ',descripcion2:'Sumérgete en la indulgencia con nuestro "Oreo Tiramisu", una reinterpretación emocionante de un clásico italiano con un toque de galletas Oreo.uestro tiramisú presenta una irresistible crema casera de mascarpone, proporcionando una textura suave y sedosa que te transportará a Italia.' 
        },
        
    ]

    //Devulevo un mapeo de los elementos del array y hago que id sea el parametro que se va a meter en la url y producto (junto con sus atributos) como parametros 
    return productos.map((producto) => {
        return {
            params: {id: producto.id},
            props: {producto}
        }
    });
}
const {id} = Astro.params;
const {producto} = Astro.props;
---
<Layout title={producto.title}> <!--Llamo a los atributos de cada componente mediante producto.atributo -->
    <Header/>
    <section class="h-full w-full m-auto flex justify-center items-center flex-col">
        <div class=" w-full h-full">
            <figure class=" h-full w-full flex justify-center items-center align-middle">
                <img src={producto.image} alt={producto.alt}/>
            </figure>
        </div>

        <div id="texto" class="w-[100%] h-full p-10 ">
            <h1 class="text-3xl flex justify-center items-center text-center">{producto.title}</h1>
            <h2 class="text-lg flex justify-center items-center mt-6 text-center">{producto.descripcion1}</h2>
            <div class=" h-auto w-full mt-6">
                <p class="text-md text-center">{producto.descripcion2}</p>
            </div>
            <p class="text-lg font-bold mt-6 flex justify-center" id="precio">Precio: {producto.precio}€</p>
            <div class="h-auto w-auto bottom-0 mt-4 flex justify-center items-center ">
               <Button titulo="AÑADIR"/>
            </div>
        </div>
      
       
    </section>
    <Footer />
</Layout>


<style>

    @font-face {
        font-family: 'merienda';
        src: url('assets/fonts/Merienda-SemiBold.ttf') format('truetype');
    }


    h1,h2 {
        font-family: 'merienda', system-ui, sans-serif;
        color: #fff; /* Texto blanco */
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
        letter-spacing: 0px;
        text-align: center;}
    p {
        font-family: 'merienda', system-ui, sans-serif;
        color: #fff; /* Texto blanco */
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
        letter-spacing: 0px;
        text-align: justify;
    }
    

    #precio {
        color:rgb(10, 187, 10);
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    }
    img {
        max-width: 80%;
    }
    section {
        max-width: 80%;
    }
    @media (min-width: 640px) {
        
        img {
            max-width: 70%;
        }
        section {
            max-width: 70%;
        }
    }

    @media (min-width: 768px) {
       
        img {
            max-width: 60%;
        }
        section {
            max-width: 60%;
        }
    }

    @media (min-width: 1024px) {
        
        img {
            max-width: 50%;
        }
        section {
            max-width: 50%;
        }
    }

    @media screen and (min-width: 1280px) {
        
        img {
            max-width: 40%;
        }
        section {
            max-width: 50%;
        }
    }

    @media screen and (min-width: 1536px) {
        
        img {
            max-width: 50%;
        }
        section {
            max-width: 40%;
        }
    }
</style>